/*
 * Project Name: React Navbar
 * Author: Taylor Lee
 * Last modified: November 11th, 2022
 * Desc: You will create a fully responsive navbar on React using CSS grid and flexbox. Additionally, display
 *       breadcrumbs with the menu dropdown on mobile screen size.
 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.App {
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}